@page "/DeleteCustomer/{CurretnID}"
@using WebApplication1.Data
@using System;
@inject CustomerService ObjCustomService
@inject NavigationManager NavigationManager
<h2>Delete Customer</h2>
<hr />
<h3>Are you sure you want to delete this?</h3>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label>Customer ID:</label>
            <label>@objCI.Id</label>
        </div>
        <div class="form-group">
            <label>Name:</label>
            <label>@objCI.Name</label>
        </div>
        <div class="form-group">
            <label>E-mail:</label>
            <label>@objCI.Email</label>
        </div>
        <div class="form-group">
            <label>Age:</label>
            <label>@objCI.Age</label>
        </div>
        <div class="form-group">
            <label>Salary:</label>
            <label>@objCI.Salary</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" @onclick="(e=>DeleteCustomers(objCI.Id))" class="btn btn-primary" value="Delete" />
            <input type="button" @onclick="@Cancel" class="btn btn-primary" value="Cancel" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string CurretnID { get; set; }
    CustomerInfo objCI = new CustomerInfo();

    protected override async Task OnInitializedAsync()
    {
        objCI = await Task.Run(() => ObjCustomService.GetCustomerByID(Convert.ToInt32(CurretnID)));

    }
    protected void DeleteCustomers(int? id)
    {
        ObjCustomService.Delete(id);
        NavigationManager.NavigateTo("customer");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("customer");
    }
}   